:root{
    --colorText: #8ABF7A;
}

.container-info{
    max-width: 1450px;
   
    margin: 3rem;
    padding: 0px 20px;
    flex-direction: row;
    align-items: center;
    display: flex;
}

.subcontainer{
  
    padding: 20px;
    flex-direction: column;
    align-items: center;
}

section{
   
    display: flex;
    flex-direction: column;
    align-items: center;

}

h3{
    font-size: 2rem;
    line-height: 60px;
   height: 5rem;
}


.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    flex: 0 0 calc(50% - 20px);
    max-width:calc(50% - 20px) ;
    width: 100%;
    /*background: #fdf;*/
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
}

.card-1{
  width: 300px; 
    /*background: #fdf;*/
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    height: 60vh;
}

.icono{
    width: 8rem;
    height: 8rem;
    padding: 2rem;
    color:var(--colorText);
}


@media screen and(max-width: 550px){
    section{
padding: 20px 0px;
    }  
    h3{
        font-size: 30px;
        line-height: 40px;
    } 
    
}
@media(max-width: 600px){
    .card {
        flex: 0 0 100%;
        max-width: 100% ;
      
    }
   
    .container-info{
        flex-direction: column;
        max-width: 90%;
    }
}