.nuestros-productos-card {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .image-description-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Permite que el contenido se ajuste a la pantalla cuando es necesario */
    justify-content: center; /* Centra los elementos horizontalmente */
    gap: 20px; /* Espacio entre las imágenes y el texto */
  }
  
  .image-carousel {
    display: flex;
    overflow: hidden; /* Oculta imágenes adicionales fuera de la vista */
    flex-basis: calc(60% - 20px); /* Ancho flexible para las imágenes */
  }
  
  .product-image {
    width: 100%;
    max-width: 100%;
    max-height: 400px; /* Establece una altura máxima para las imágenes */
    object-fit: contain; /* Ajusta la imagen para que se ajuste manteniendo su relación de aspecto */
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    align-items: center;
  }
  
  .product-image.active {
    opacity: 1; /* Muestra la imagen activa */
    display: block;
  }
  
  .product-description {
    flex-basis: calc(40% - 20px); /* Ancho flexible para el texto */
    text-align: center;
  }
  
  .product-description h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .product-description p {
    font-size: 14px;
  }
  