/* Estilos generales para el contenedor de servicios */
.servicios-container {
  display: flex;
  justify-content: space-between;
  margin: 5rem 4%;
  flex-wrap: wrap; /* Permite que los servicios se ajusten a la pantalla */
  text-align: center;
}

/* Estilos para cada servicio */
.servicio {
  width: 60%; /* Ajusta el ancho para tres servicios en una fila */
  max-width: 400px; /* Establece un ancho máximo para cada servicio */
  height: 300px;
  perspective: 31905.3px;
  transition: transform 0.3s;
  position: relative;
  cursor: pointer;
  margin: 2rem 5px;
  overflow: hidden;
  border: 8px solid #d391e4;
  
}

.servicio img {
  width: 100%; /* Ajusta el ancho de la imagen al 100% del servicio */
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

/* Estilos para el estado normal (sin hover) */
.servicio .servicio-back {
  transform: rotateY(90deg);
  background-color: #ebebeb;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: transform 0.3s;
  
}

/* Estilos para el estado hover */
.servicio:hover {
  transform: rotateY(0);
}

.servicio:hover .servicio-back {
  transform: rotateY(0);
}

/* Estilos para los títulos y descripciones */
.servicio h2 {
  text-align: center;
  color: #000; /* Cambia el color del título */
}

.servicio p {
  text-align: center;
  color: #000; /* Cambia el color del texto */
  
}

@media (max-width: 768px) {
  .servicios-container {
    flex-direction: column;
    align-items: center;
   
  }

  .servicio {
    width: 100%;
    max-width: 50rem;
    margin-bottom: 4rem;
    height: auto;
  }

 
}


@media (max-width: 980px){
  .servicios-container {
    
    justify-content: space-around;
   
  }
}