.subcategorias {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 100%;
  min-width: 150px; /* Ajusta el ancho según tus necesidades */
  background-color: #7375a5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.subcategorias li {
  position: relative;
}

.subcategorias a {
  display: block;
  padding: 0.75rem;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s;
  font-size: 1vw;
}

.subcategorias .subcategorias {
  top: 0;
  left: 100%;
  margin: 0;
}

@media screen and (max-width: 1600px) {
  .subcategorias {
    left: -99%;
  }

  .categoria ul {

    width: 200px;
}

}

@media screen and (max-width: 850px) {
  .subcategorias {
    left: -100%;
  }
}

@media screen and (max-width: 768px) {
  .subcategorias {
    left: 100%;
  }
}
