.opening-hours {
  background-color: #EDFFF0;
  padding: 20px;
  width: 600px;
  margin: 0 auto; 
  border: 1px solid #d34cf5;


}

.opening-hours h2 {
  font-size: 24px;
  /* Tamaño de fuente del título */
  margin-bottom: 10px;
  /* Espacio inferior debajo del título */
  text-align: center;

}

.opening-hours ul {
  padding: 0;
  list-style-type: none;
}

.opening-hours li {
  font-size: 18px;
  /* Tamaño de fuente de los elementos de la lista */
  margin-bottom: 5px;
  /* Espacio inferior entre elementos de la lista */
}

.text-horarios {
  text-align: center;
}